/* ---------- HEADER ---------- */
.header {
  position: relative;
}

/* ---------- HEADER__PRINCIPAL-TITLE ---------- */
.header__principal-title {
  margin-top: 100px;
  margin-bottom: 250px;
}

.header__principal-title__txt {
  margin-left: 10px;
  padding-bottom: 10px;
  font-size: 1.7em;
}

.header__principal-title__link {
  margin-left: 10px;
  padding: 20px;
  background: rgba(35, 35, 35, 0.9);
  border-radius: 3px;
  font-size: .8em;
  letter-spacing: 1px;
  transition: color .2s ease;
}

.header__principal-title__link:hover {
  color: rgb(245, 245, 245);
  transition: color .2s ease;
}

.header__principal-title__logo {
  font-size: 6em;
  font-family: 'Times New Roman';
  color: #f3f935;
  letter-spacing: -15px;
  user-select: none;
  position: absolute;
  right: 5px;
  top: 150px;
}

/* ---------- HEADER__INTRODUCTION ---------- */
.header__introduction {
  padding: 10px;
  background: rgba(40, 40, 40, .9);
  backdrop-filter: blur(8px);
}

/* ---------- HEADER__INTRODUCTION__TITLE ---------- */
.header__introduction__title__txt {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 1.4em;
  font-weight: lighter;
}

.header__introduction__title__link {
  color: #fff;
  text-decoration: underline;
  font-size: .9em;
}

/* ---------- HEADER__INTRODUCTION__INFO ---------- */
.header__introduction__info__title {
  margin-bottom: -10px;
  padding-top: 20px;
  font-size: 1em;
}

.header__introduction__info__title .fa {
  padding-right: 10px;
}

.header__introduction__info__txt {
  margin-bottom: 5px;
  padding-left: 30px;
  font-size: .9em;
}

.header__introduction__info__link {
  padding-left: 30px;
  text-decoration: underline;
  color: #fff;
  font-size: .9em;
}

/* ---------- HEADER__INTRODUCTION__BTN ---------- */
.header__introduction__btn {
  margin-top: 90px;
  margin-bottom: 45px;
}

.header__introduction__btn__link {
  padding: 20px;
  border: 1px solid #f3f935;
  border-radius: 3px;
  color: rgb(245, 245, 245);
  font-size: .8em;
  letter-spacing: 2px;
  transition: color .2s ease;
}

.header__introduction__btn__link:hover {
  color: #f3f935;
  transition: color .2s ease;
}

/* ---------- HEADER__INTRODUCTION__SOCIAL ---------- */
.header__introduction__social__txt {
  font-size: .9em;
  letter-spacing: 1px;
}

/* ---------- MAIN ---------- */
/* ---------- MAIN__NEWS ---------- */
.main__news {
  padding: 10px;
  background: url(../img/index-img-1.jpg) no-repeat center center;
  background-size: cover;
}

.main__news__container {
  padding-top: 5px;
  background: rgba(250, 250, 250, .9);
  text-align: center;
  cursor: pointer;
  transition: background .3s ease;
}

.main__news__container:hover {
  background: rgba(250, 250, 250, .75);
  transition: background .3s ease;
}

.main__news__container__principal-title {
  padding-top: 10px;
  color: #444;
  font-size: .8em;
  font-weight: lighter;
  letter-spacing: 2px;
}

.main__news__container__title {
  margin: 5px;
  color: #000;
  font-size: 1.2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
}

.main__news__container__txt {
  padding: 0 15px;
  color: #444;
  font-size: 1.1em;
  line-height: 1.5;
}

/* ---------- MAIN__NEWS__CONTAINER__BTN ---------- */
.main__news__container__btn {
  padding: 40px;
}

.main__news__container__btn__link {
  padding: 20px 25px;
  border-radius: 3px;
  background: #f3f935;
  color: #000;
  font-size: .8em;
  letter-spacing: 2px;
  transition: background .2s ease;
}

.main__news__container__btn__link:hover {
  background: #f7ff14;
  transition: background .2s ease;
}

/* ---------- MAIN__EXHIBITIONS ---------- */
.main__exhibitions__principal-title {
  padding-top: 25px;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 0 0 5px #000;
}

.main__exhibitions {
  background: rgba(40, 40, 40, .95);
  padding: 10px;
}

/* ---------- MAIN__EXHIBITIONS__ARTICLE ---------- */
.main__exhibitions__article {
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
  cursor: pointer;
}

.main__exhibitions__article:after {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient( rgba(0, 0, 0, .1), transparent);
  opacity: 0;
  transition: all .3s ease;
}

.main__exhibitions__article:hover:after {
  opacity: 1;
}

.main__exhibitions__article__img {
  height: 200px;
  object-fit: cover;
  transition: filter .4s ease;
}

.main__exhibitions__article:hover .main__exhibitions__article__img {
  filter: opacity(85%);
  transition: filter .4s ease;
}

.main__exhibitions__article__title {
  margin: 10px 0;
  font-size: .8em;
  font-weight: lighter;
  letter-spacing: 2px;
}

.main__exhibitions__article__principal-title {
  margin: 0;
  font-size: 1.3em;
  letter-spacing: 1px;
}

.main__exhibitions__article__date {
  margin: 5px 0;
  font-size: .9em;
  color: rgb(180, 180, 180);
}

.main__exhibitions__article__link {
  border-bottom: 1px solid rgb(160, 160, 160);
  padding-top: 80px;
  padding-bottom: 20px;
  display: block;
  font-size: .8em;
  letter-spacing: 1px;
  transition: border-bottom .4s ease;
}

.main__exhibitions__article:hover .main__exhibitions__article__link {
  border-bottom: 1px solid #f7ff14;
  transition: border-bottom .4s ease;
}

/* ---------- MAIN__EXHIBITIONS__SHOW-MORE ---------- */
.main__exhibitions__show-more {
  background: #222;
  padding: 20px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main__exhibitions__show-more__btn {
  background: #f3f935;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #222;
  font-size: 2em;
  text-align: center;
  line-height: 60px;
  transition: background .3s ease;
}

.main__exhibitions__show-more__btn:hover {
  background: #f7ff14;
  transition: background .3s ease;
}

.main__exhibitions__show-more__txt {
  margin: 5px;
  font-size: .8em;
  font-weight: bold;
  letter-spacing: 1px;
}

/* ---------- MAIN__EMAIL ---------- */
.main__email {
  margin-top: 30px;
  background: rgb(230, 230, 230);
  color: #222;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1000;
}

.main__email__container {
  padding: 10px;
}

.main__email__container__logo {
  color: rgb(215, 215, 215);
  font-size: 10em;
  font-family: 'Times New Roman';
  letter-spacing: -20px;
  position: absolute;
  top: -16px;
  right: 30px;
  user-select: none;
  z-index: -1000;
}

.main__email__container__title {
  margin: 0;
  padding-top: 30px;
  font-size: 1.1em;
}

.main__email__container__sub-title {
  margin: 0 5px;
  padding-top: 10px;
  font-size: .9em;
  font-weight: lighter;
  letter-spacing: 1px;
  line-height: 1.3;
}

.main__email__container__form {
  padding: 20px 5px;

  display: flex;
  flex-direction: column;
}

.main__email__container__form__input {
  margin-bottom: 10px;
  border: none;
  padding: 20px;
  text-align: center;
}

.main__email__container__form__input:focus {
  outline: 3px solid #222;
}

.main__email__container__form__submit {
  margin-bottom: 0;
  border: none;
  padding: 15px;
  background: #222;
  color: rgb(245, 245, 245);
  font-size: .9em;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all .2s ease;
}

.main__email__container__form__submit:hover {
  outline: 1px solid rgb(255, 147, 5);
  background: #f7ff14;
  color: #222;
  transition: all .2s ease;
}

.main__email__container__txt {
  margin: 0;
  padding-bottom: 20px;
  color: #666;
  font-size: .8em;
  line-height: 1.2;
}

.main__email__container__txt__link {
  text-decoration: underline;
  color: #666;
}

/* ---------- MAIN__COLLECTION ---------- */
.main__collection {
  margin: 0 0 50px;
}

.main__collection__principal-title {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: .8em;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 0 0 5px #000;
}

/* ---------- MAIN__COLLECTION__ARTICLE ---------- */
.main__collection__article {
  margin: 15px;
  cursor: pointer;
}

.main__collection__article__image {
  position: relative;
}

.main__collection__article__image__img {
  height: 200px;
  object-fit: cover;
  transition: filter .4s ease;
}

.main__collection__article:hover .main__collection__article__image__img {
  filter: brightness(50%);
  transition: filter .4s ease;
}

.main__collection__article__image__txt {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: .9em;
  letter-spacing: 2px;
  text-shadow: 0 0 5px #000;
  transition: opacity .4s ease;
}

.main__collection__article:hover .main__collection__article__image__txt {
  opacity: 1;
  transition: opacity .4s ease;
}

.main__collection__article__title {
  background: rgb(250, 250, 250);
  margin: 0;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 50px;
  padding-left: 10px;
  width: 100%;
  color: #111;
  font-size: 1.3em;
  user-select: none;
}

/* ---------- MAIN__COLLECTION__BTN ---------- */
.main__collection__btn__link {
  position: relative;
  background: #222;
  margin: 30px 20px;
  border: 1px solid #f3f935;
  padding: 15px;
  display: block;
  color: #fff;
  font-size: .8em;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.3;
  transition: all .4s ease;
}

.main__collection__btn__link .fa {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.main__collection__btn__link:hover {
  border: 1px solid #f7ff14;
  color: #f3f935;
  transition: all .4s ease;
}

/* ---------- FOOTER ---------- */
.footer {
  background: #222;
  margin-top: 100px;
  padding: 0 10px;
}

/* ---------- FOOTER__EMAIL ---------- */
.footer__email {
  border-bottom: 1px solid rgb(199, 199, 199);
  padding: 20px 0;
}

.footer__email__title {
  font-size: 1.3em;
  font-weight: bold;
}

.footer__email__sub-title {
  margin-top: -15px;
  font-weight: lighter;
  line-height: 1.3;
}

.footer__email__form {
  display: flex;
}

.footer__email__form__input {
  padding: 15px;
  border: none;
  border-radius: 3px;

  flex: 70%;
}

.footer__email__form__input:focus {
  outline: 3px solid #111;
}

.footer__email__form__submit {
  background: #f3f935;
  margin-left: 5px;
  border: none;
  border-radius: 3px;
  padding: 15px 20px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: background .2s ease;
  flex: 30%;
}

.footer__email__form__submit:hover {
  background: #f7ff14;
  transition: background .2s ease;
}

.footer__email__txt {
  font-size: .8em;
  line-height: 1.3;
}

.footer__email__txt__link {
  color: #fff;
  text-decoration: underline;
}

/* ---------- FOOTER__OTHER ---------- */
.footer__other {
  padding: 30px 0;
}

.footer__other__principal-title {
  font-size: 1.8em;
}

/* ---------- FOOTER__OTHER__COLUMN ---------- */
.footer__other__column__date, .footer__other__column__txt {
  font-size: .8em;
}

.footer__other__column__sub-title {
  margin-top: 60px;
  margin-bottom: 10px;
  font-weight: lighter;
}

.footer__other__column__link {
  display: block;
  font-size: .8em;
  transition: color .2s ease;
}

.footer__other__column__link:hover {
  color: #fff;
  transition: color .2s ease;
}

.footer__other__column__link:last-of-type {
  margin-bottom: 60px;
}

/* ---------- FOOTER__OTHER__COLUMNS ---------- */
.footer__other__columns {
  display: flex;
  flex-wrap: wrap;
}

.footer__other__columns__column {
  flex: 45%;
}

.footer__other__columns__column__title {
  font-size: .8em;
  letter-spacing: 2px;
}

.footer__other__columns__column__link {
  margin-bottom: 15px;
  display: block;
  font-size: .75em;
  transition: color .2s ease;
}

.footer__other__columns__column__link:hover {
  color: #fff;
  transition: color .2s ease;
}

/* ---------- FOOTER__SOCIAL ---------- */
.footer__social {
  margin-top: 60px;
}

/* ---------- FOOTER__COPY ---------- */
.footer__copy {
  color: rgb(190, 190, 190);
  font-size: .85rem;
}

.footer__copy__links {
  margin-top: 0;
}

.footer__copy__links__link {
  color: rgb(190, 190, 190);
  text-decoration: underline;
  line-height: 1.4;
}

.footer__copy__logo {
  height: 150px;
  position: relative;
  overflow: hidden;
}

.footer__copy__logo__icon {
  position: absolute;
  top: -30px;
  right: 20px;
  color: #333;
  font-size: 15em;
  font-family: 'Times New Roman';
  letter-spacing: -35px;
  user-select: none;
}

/* ---------- RESPONSIVE ---------- */
@media screen and (min-width: 500px) {
  .header__introduction__info__container {
    display: flex;
    flex-wrap: wrap;
  }
  .header__introduction__info {
    padding-right: 20px;
  }
  .header__principal-title__logo {
    font-size: 8em;
    letter-spacing: -25px;
    right: 15px;
    top: 85px;
  }
  .header__introduction__title__txt {
    font-size: 2em;
  }
  .main__email {
    text-align: left;
  }
  .main__email__container__logo {
    font-size: 30em;
    letter-spacing: -120px;
    top: -100px;
    right: 0;
  }
  .main__email__container__title {
    font-size: 1.4em;
  }
  .main__email__container__form {
    flex-direction: row;
  }
  .main__email__container__form__input {
    margin: 0;

    flex: 70%;
  }
  .main__email__container__form__submit {
    margin-left: 10px;

    flex: 30%;
  }
  .main__email__container__txt {
    text-align: center;
  }
  .main__exhibitions {
  display: flex;
  flex-wrap: wrap;
  }
  .main__exhibitions__article {
    margin: 10px;
  
    flex: 46%;
  }
  .main__collection__principal-title {
    font-size: 1em;
  }
  .main__collection {
    display: flex;
    flex-wrap: wrap;
  }
  .main__collection__article {
    margin: 0 10px;
  
    flex: 46%;
  }
  .main__collection__article__image__txt {
    text-align: center;
  }
  .main__collection__btn__link {
    margin: -30px 60px 60px;
  }
}