/* ---------- ALL ---------- */
body {
  background: linear-gradient( rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../img/index-background.jpg) no-repeat center center fixed;
  background-size: cover;
  color: rgb(245, 245, 245);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #f3f935;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ---------- NAV ---------- */
.nav {
  background: rgb(40, 40, 40);
}

/* ---------- NAV__MENU__TEXT ---------- */
.nav__menu__text {
  padding: 10px;
  color: #f3f935;
  
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav__menu__text__txt {
  margin-right: 50px;
  font-size: .8em;
  font-weight: bold;
  letter-spacing: 3px;
}

.nav__menu__text__icon {
  width: 40px;
  height: 40px;
  font-size: 1.3em;
  border: 2px solid;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  z-index: 10000;
  position: fixed;
}

/* ---------- NAV__MENU__LINKS ---------- */
.nav__menu__links {
  background: rgb(40, 40, 40);
  width: 100%;
  height: 100vh;
  border-top: 1px solid #f3f935;
  border-bottom: 1px solid #f3f935;
  z-index: 9500;
  position: fixed;
  top: -100%;
  left: 0;
  transition: top .3s ease-in;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-visible {
  top: 0;
  transition: top .3s ease-out;
}

.nav__menu__links__link {
  padding: 10px 0;
  padding-left: 20px;
  font-size: 1.5em;
  text-decoration: none;
  color: rgb(245, 245, 245);
  transition-property: margin-left, color;
  transition: .3s ease;
}

.nav__menu__links__link:hover {
  margin-left: 20px;
  color: #f3f935;
  transition-property: margin-left, color;
  transition: .2s ease;
}

.nav__menu__links__link--active {
  margin-left: 20px;
  color: #f3f935;
}

.nav__menu__links__link__icon {
  padding-right: 10px;
}